<script type="text/ng-template" id="loading.html"> 
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    
<!-- Front page -->
<div>
	<widget-row>
	<widget-cell>
	<!-- Nav tabs -->
	<div class="container"></div>
    <div id="connect" class="container">
    	<ul class="nav nav-tabs">
    		<li class="active"><a  href="#1" data-toggle="tab">Messages</a></li>
			<li><a href="#2" data-toggle="tab">Contacts</a></li>
            <li><a href="#3" data-toggle="tab">Explore</a></li>
			<li><a href="#4" data-toggle="tab">Profile</a></li>
		</ul>
        <div class="tab-content ">
            
            <!--MESSAGES TAB-->
            <div class="tab-pane active" id="1">
                
    			<div class="collapseMe">
                    
                    <widget-search 
                         label="Who are you looking for?"
                         placeholder="Type in the name of the group or person" 
                         search-results-title="Results"
                         data="model" 
                         min-char="2" 
                         fields="['title','details']">
                        <widget-filter 
                                fields="['ingroup']" 
                                filters="[{value:'0',text:'People'},{value:'1',text:'Groups'}]">
                        </widget-filter>
                        
                        <widget-searching>
                            <widget-list list="item in searchResults" show-items="5">
                                <widget-row clickable ng-click="showDetails(item)">
                                    <widget-cell>
                                        <b>{{item.title}}</b>
                                        <p>{{item.details}}</p>
                                    </widget-cell>
                                    <widget-cell>
                                        <widget-icon name="angle-right"></widget-icon>
                                    </widget-cell>
                                </widget-row>
                            </widget-list>
                        </widget-searching>

                        <widget-not-searching>
                            <widget-row>
                                <widget-cell>
                                    <h2>
                                        Recent Messages <widget-icon name="mail-alt"></widget-icon>
                                        <widget-icon name="edit" clickable ng-click="showMessage(newmessage)"></widget-icon>
                                    </h2>
                                </widget-cell>
                            </widget-row>
                            <widget-list list="item in model" show-items="5">
                                <widget-row clickable ng-click="showDetails(item)">
                                    <widget-cell>
                                        <b>{{item.title}}</b>
                                        <p>{{item.details}}</p>
                                    </widget-cell>
                                    <widget-cell>
                                        <div align = "right"><widget-icon name="angle-right"></widget-icon></div>
                                    </widget-cell>
                                </widget-row>
                            </widget-list>
                        </widget-not-searching>
                        
                	</widget-search>
                    
    			</div>    
                
            </div>
            
            <!--CONTACTS TAB-->
            <div class="tab-pane" id="2">
               
                <!-- WIDGET SEARCH BLOCK --> 
                <widget-search 
                     label="Search for your contacts" 
                     placeholder="Type in the name of the group or person" 
                     search-results-title="Your Contacts"
                     data="model" 
                     min-char="2" 
                     fields="['title']">
                    <widget-filter 
                            fields="['ingroup']" 
                            filters="[{value:'0',text:'People'},{value:'1',text:'Groups'}]">
                    </widget-filter>
                    <widget-searching>
                        <widget-list list="item in searchResults" show-items="7">
                            <widget-row clickable ng-click="showDetails(item)">
                                <widget-cell fill>{{item.title}}</widget-cell>
                                <widget-cell>
                                    <widget-icon name="angle-right"></widget-icon>
                                </widget-cell>
                            </widget-row>
                        </widget-list>
                    </widget-searching>
                    <widget-not-searching>
                        <widget-row>
                            <widget-cell>
                                <h2>Your Contacts</h2>
                            </widget-cell>
                        </widget-row>
                        <widget-list list="item in model" show-items="7">
                            <widget-row clickable ng-click="showDetails(item)">
                                <widget-cell fill>{{item.title}}</widget-cell>
                                <widget-cell>
                                    <widget-icon name="angle-right"></widget-icon>
                                </widget-cell>
                            </widget-row>
                        </widget-list>
                    </widget-not-searching>
                </widget-search>
               
            </div>
            
            <!--EXPLORE TAB-->
            <div class="tab-pane" id="3">
                <h2>Explore</h2>
                
                {{studentData}}
                
            </div>
            
            <!--PROFILE TAB-->
            <div class="tab-pane" id="4">
                
                <div align="right"><widget-icon name="cog"></widget-icon></div>
            	<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAQhAAAAJDkzOWFhNDg1LTU2MzAtNDBiOS05NzBkLTI4MzA0Mjc5ZTI5Zg.jpg" alt="Profile Picture" style="width:150px;height:150px;">
                    
            <widget-row>
            	<widget-cell>
                    <p>Level of Study: {{studentData.career}}</p>
                    <p>Faculty: {{studentData.program}}</p>
					<p>Current Term: {{studentData.level}}</p>
                    <p ng-if="studentData.departments != null">Departments:
						<ul>
							<li ng-repeat="department in studentData.departments">{{department}}</li>
						</ul>
					</p>
					<p ng-if="studentData.plans != null">Plans:
						<ul>
							<li ng-repeat="plan in studentData.plans">{{plan}}</li>
						</ul>
					</p>
            	</widget-cell>
        	</widget-row>
                
            </div>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button
        </a>
    </li>
</script>

<!-- View Message Pages -->
<script type="text/ng-template" id="details.html">
    <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Message"
                          next-text="Next Message"></widget-list-controls>
    <widget-row>
        <widget-cell>
            <h2>{{item.value.title}}</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div class="pHighlight">{{item.value.details}}</div>
        </widget-cell>
    </widget-row>
</script>

<!-- Create New Message --> 
<script type="text/ng-template" id="newmessage.html"> 
    <widget-row> 
        <widget-cell> 
            <div class="pDetails"> 
                <h2>New Message</h2>
                <!-- Search Recipient (To:) --> 
                <widget-search 
                               label="To:" 
                               placeholder="Type in name of the group or person" 
                               search-results-title="To:"
                               data="model" 
                               min-char="2" 
                               fields="['title']">
                    <widget-searching>
                        <widget-list list="item in searchResults" show-items="5">
                            <widget-row clickable ng-click="showDetails(item)">
                                <widget-cell fill>{{item.title}}</widget-cell>
                                <widget-cell>
                                    <widget-icon name="angle-right"></widget-icon>
                                </widget-cell>
                            </widget-row>
                        </widget-list>
                    </widget-searching>
                </widget-search>

            </div> 
        </widget-cell> 
    </widget-row> 
</script> 
                
<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>