<script type="text/ng-template" id="loading.html"> 
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    
<!-- Front page -->
<div>
	<widget-row>
	<widget-cell>
	<!-- Nav tabs -->
	<div class="container"></div>
    <div id="connect" class="container">
    	<ul class="nav nav-tabs">
    		<li class="active"><a href="#1" data-toggle="tab">Messages</a></li>
			<li><a href="#2" data-toggle="tab">Contacts</a></li>
			<li><a href="#3" data-toggle="tab">Explore</a></li>
			<li><a href="#4" data-toggle="tab">Profile</a></li>
		</ul>
        <div class="tab-content ">
            
            <!--MESSAGES TAB-->
            <div class="tab-pane active" id="1">
                
    			<div class="collapseMe">
                    
                    <widget-search 
                         label="What are you looking for?"
                         placeholder="Type in the name of the group or person" 
                         search-results-title="Results"
                         data="model" 
                         min-char="2" 
                         fields="['title','details']">
                        <widget-filter 
                                fields="['ingroup']" 
                                filters="[{value:'0',text:'People'},{value:'1',text:'Groups'}]">
                        </widget-filter>
                        
                        <widget-searching>
                            <widget-list list="item in searchResults" show-items="5">
                                <widget-row clickable ng-click="showDetails(item)">
                                    <widget-cell>
                                        <b>{{item.title}}</b>
                                        <p>{{item.details}}</p>
                                    </widget-cell>
                                    <widget-cell>
                                        <widget-icon name="angle-right"></widget-icon>
                                    </widget-cell>
                                </widget-row>
                            </widget-list>
                        </widget-searching>

                        <widget-not-searching>
                            <widget-row>
                                <widget-cell>
                                    <h2>
                                        Recent Messages <widget-icon name="mail-alt"></widget-icon>
                                        <widget-icon name="edit" clickable ng-click="showMessage(newmessage)"></widget-icon>
                                    </h2>
                                </widget-cell>
                            </widget-row>
                            <widget-list list="item in model" show-items="5">
                                <widget-row clickable ng-click="showDetails(item)">
                                    <widget-cell>
                                        <b>{{item.title}}</b>
                                        <p>{{item.details}}</p>
                                    </widget-cell>
                                    <widget-cell>
                                        <div align = "right"><widget-icon name="angle-right"></widget-icon></div>
                                    </widget-cell>
                                </widget-row>
                            </widget-list>
                        </widget-not-searching>
                        
                	</widget-search>
                    
    			</div>    
                
            </div>
            
            <!--CONTACTS TAB-->
            <div class="tab-pane" id="2">
                
                <div class="collapseMe">
                    
                    <widget-search 
                         label="Who are you looking for?"
                         placeholder="Type in the name of the group or person" 
                         search-results-title="Your contacts"
                         data="model" 
                         min-char="2" 
                         fields="['title','program']">
                        <widget-filter 
                                fields="['ingroup']" 
                                filters="[{value:'0',text:'People'},{value:'1',text:'Groups'}]">
                        </widget-filter>
                        
                        <widget-searching>
                            <widget-list list="item in searchResults" show-items="5">
                                <widget-row clickable ng-click="showDetails(item)">
                                    <widget-cell>
                                        <u>{{item.title}}</u>
                                        <p><h6>{{item.program}}</h6></p>
                                    </widget-cell>
                                    <widget-cell>
                                        <div align="right"><widget-icon name="comment-alt"></widget-icon></div>
                                    </widget-cell>
                                </widget-row>
                            </widget-list>
                        </widget-searching>

                        <widget-not-searching>
                            <widget-row>
                                <widget-cell>
                                    <h2>
                                        Your Contacts
                                    </h2>
                                </widget-cell>
                            </widget-row>
                            <widget-list list="item in model" show-items="5">
                                <widget-row clickable ng-click="showDetails(item)">
                                    <widget-cell>
                                        <u>{{item.title}}</u>
                                        <p><h6>{{item.program}}</h6></p>
                                    </widget-cell>
                                    <widget-cell>
                                        <div align = "right"><widget-icon name="comment-alt"></widget-icon></div>
                                    </widget-cell>
                                </widget-row>
                            </widget-list>
                        </widget-not-searching>
                        
                	</widget-search>
                    
    			</div>  
                
            </div>
         
            <!--EXPLORE TAB-->
            <div class="tab-pane" id="3">
               
                <div class="collapseMe">
                    
                    <widget-search 
                         label="Who are you looking for?"
                         placeholder="Type in the name of the group or person" 
                         search-results-title="Suggested Connections"
                         data="model" 
                         min-char="2" 
                         fields="['title','program']">
                        <widget-filter 
                                fields="['ingroup']" 
                                filters="[{value:'0',text:'People'},{value:'1',text:'Groups'}]">
                        </widget-filter>
                        
                        <widget-searching>
                            <widget-list list="item in searchResults" show-items="5">
                                <widget-row clickable ng-click="showDetails(item)">
                                    <widget-cell>
                                        <u>{{item.title}}</u>
                                        <p><h6>{{item.program}}</h6></p>
                                    </widget-cell>
                                    <widget-cell>
                                        <div align="right"><widget-icon name="user"></widget-icon></div>
                                    </widget-cell>
                                </widget-row>
                            </widget-list>
                        </widget-searching>
                        
                	</widget-search>
                    
    			</div>  
                
            </div>
            
            <!--PROFILE TAB-->
            <div class="tab-pane" id="4">
                
                <div align="right"><widget-icon name="cog"></widget-icon></div>
            	<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAQhAAAAJDkzOWFhNDg1LTU2MzAtNDBiOS05NzBkLTI4MzA0Mjc5ZTI5Zg.jpg" alt="Profile Picture" style="width:150px;height:150px;">
            <widget-row>
                <widget-cell>
                    <h2>Jessie Won</h2>
                </widget-cell>
            </widget-row>
            <widget-row>
                <widget-cell>
                    <p>Level of Study: {{studentData.career}}</p>
                    <p>Faculty: {{studentData.faculty}}</p>
					<p>Current Term: {{studentData.level}}</p>
                    <p>Program: Systems Design Engineering</p>
                    <p>Email: jhywon@uwaterloo.ca</p>
            	</widget-cell>
        	</widget-row>
                
            </div>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button
        </a>
    </li>
    <li>
        <a clickable ng-click="showEvent(event)">
            Events
        </a>
    </li>
</script>

<!-- View Message Pages -->
<script type="text/ng-template" id="details.html">
    <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Message"
                          next-text="Next Message"></widget-list-controls>
    <widget-row>
        <widget-cell>
            <h2>{{item.value.title}}</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div class="pHighlight">{{item.value.details}}</div>
        </widget-cell>
    </widget-row>
    <!-- DATABASE EXAMPLE -->
    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <h3>Comment</h3>
            </widget-cell>
        </widget-row>
        <div ng-if="!dbData.value.status">
            <widget-row>
                <widget-cell>
                    <form class="form-inline" ng-submit="insertData()">
                        <div class="input-group" style="width: 100%;">
                            <input type="text" class="form-control" ng-model="insertValue.value" placeholder="Write your comment here..." />
                            <span class="input-group-btn" style="overflow:hidden;">
                                <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;"></button>
                            </span>
                        </div>
                    </form>
                </widget-cell>
            </widget-row>

            <widget-row ng-repeat="item in dbData.value">
                <widget-cell>
                    <div class="pDetails">UserId: {{item.userId}}</div>
                    <div class="pDetails">Value: {{item.value}}</div>
                </widget-cell>
            </widget-row>
        </div>
    </div>
</script>

<!-- Share Event -->
<script type="text/ng-template" id="event.html">
    <widget-row>
        <widget-cell>
            <h2>Events</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <b>Explorations 2016</b>
            <widget-icon clickable ng-click="showMessage(newmessage)" name="share"></widget-icon>
            <p>March 14 at 5:00 PM</p>
            <b>WIN Student Seminar Series</b>
            <widget-icon clickable ng-click="showMessage(newmessage)" name="share"></widget-icon>
            <p>March 15 at 12:00 PM</p>
            <b>Capstone Design Symposium</b>
            <widget-icon clickable ng-click="showMessage(newmessage)" name="share"></widget-icon>
            <p>March 16 at 9:00 AM</p>
            <b>Counselling Drop-In Sessions</b>
            <widget-icon clickable ng-click="showMessage(newmessage)" name="share"></widget-icon>
            <p>March 17 at 2:00 PM</p>
            <b>TronCon</b>
            <widget-icon clickable ng-click="showMessage(newmessage)" name="share"></widget-icon>
            <p>March 19 at 10:00 AM</p>
        </widget-cell>
    </widget-row>    
</script>
                
<!-- Create New Message --> 
<script type="text/ng-template" id="newmessage.html"> 
    <widget-row> 
        <widget-cell> 
            <div class="pDetails"> 
                <h2>New Message</h2>
                <!-- Search Recipient (To:) --> 
                <widget-search 
                               label="To:" 
                               placeholder="Type in name of the group or person" 
                               search-results-title="To:"
                               data="model" 
                               min-char="2" 
                               fields="['title']">
                    <widget-searching>
                        <widget-list list="item in searchResults" show-items="5">
                            <widget-row clickable ng-click="showDetails(item)">
                                <widget-cell fill>{{item.title}}</widget-cell>
                                <widget-cell>
                                    <widget-icon name="angle-right"></widget-icon>
                                </widget-cell>
                            </widget-row>
                        </widget-list>
                    </widget-searching>
                </widget-search>
            </div> 
        </widget-cell> 
    </widget-row>
</script> 
<!-- PAGE TEMPLATE EXAMPLE --> 
                
<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>